* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: dogways;
    src: url(../img/Dogways.ttf);
}
@font-face {
    font-family: nightcat;
    src: url(../img/Nightcat.ttf);
}

body {
    font-family: "Roboto", sans-serif;
    padding-bottom: 7em;
}

.navbar {
    background-color: #2b2821;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1.3em;
}

.navbar_text {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar_text li {
    list-style: none;
}

.navbar_link {
    text-decoration: none;
    color: #fff503;
    font-size: 1.5em;
}


.menu .title_menu {
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C); 
    background: linear-gradient(to right, #93F9B9, #1D976C);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.menu .title_menu h1{
    text-align: center;
    font-family: nightcat;
    color: #fff503;
    font-size: 3.5em;
    padding-bottom: 20px;
}

/* button start */
.menu .title_menu a button{
    background-color: #fff503;
    height: 50px;
    width: 180px;
    border-radius: 15px;
    border: 1px solid rgba(27, 31, 35, 0.15);
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    color:#009841;
}
.menu .title_menu a button:hover{
    background-color: #d6cf05;
    transition: background-color 0.3s;
    cursor: pointer;
}
.menu .title_menu a button:active{
    background-color: #d6cf05;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}
.menu .title_menu a button:focus {
    outline: 1px transparent;
}
   
.menu .title_menu a button:before {
    display: none;
}

.menu .title_menu a button:-webkit-details-marker {
    display: none;
}

/* button end */

.section_title{
    text-align: center;
    color: #009841;
    padding: 1em;
    font-family: nightcat;
    font-size: 2em;
}
.section_container{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 20px;
}
.subsection_container{
    width: 100%;
    justify-self: center;
}
.subsection_title{
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: #009841;
    font-family: nightcat;
}
.price_title{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.item{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    padding: 10px 0 10px 0;
}
.item_title{
    color: #0a0a09;
}
.item_price_cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 5px;
}
.item_price{
    text-align: center;
}







@media (min-width:420px) {
    .subsection_container{
        width: 24em;
    }
}

@media (min-width:800px) {
    .navbar_text{
        justify-content: space-evenly;
    }
    .navbar_link {
        font-size: 2em;
    }
    .section_container{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 10px;
    }
    .sin_alcohol{
        grid-row: span 7;
    }
    .cocktails{
        grid-row: span 35;
    }
    .gaseosas{
        grid-row: span 8;
    }
    .cervezas{
        grid-row: span 7;
    }
    .cubas{
        grid-row: span 10;
    }
    .vinos{
        grid-row: span 5;
    }
}
